
#General
**/.DS_Store
**/*.orig

**/.nullChecker
**/.c.swp

*.[oa]
bin/
doc/

#*.txt

*.c

#*.pml
*.pr

pan.*
*.trail
*.maude

*.exe

**.tmp


# ignore intellij idea related settings
**/.idea
**/*.iml
**/.ipr
**/*.ipr


# ignore  build related things
**/target
**/build
**/overlays
**/dependency-reduced-pom.xml
**/bin

# ignore eclipse related settings
**/.classpath
**/.project
**/.settings

# ignore jrebel related files
**/rebel.xml
**/rebel-remote.xml

build.sh
#examples/
out/
pipe+.properties
pipe+.xml
